<ion-view class="bgSearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" id="tunet">             

        <div id="scroller">
            <ul class="list">
                <li class="item" ng:repeat="item in disease" >
                    <a href="#/menu/medicineview/{{item.id}}">{{item.name}}</a>                
                </li>
                <li class="no-result" ng-if="disease.length == 0">
                    Nincs találat
                </li>
            </ul>            
        </div>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>
        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">Tünetlista</button>
        </div>
    </ion-footer-bar>

</ion-view>
