<ion-view class="bgSearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list">            

            <li class="item"><a href="#/menu/disease/afta">Afta</a></li>
            <li class="item"><a href="#/menu/disease/agyi keringési zavar">Agyi keringési zavar</a></li>
            <li class="item"><a href="#/menu/disease/akne">Akne</a></li>
            <li class="item"><a href="#/menu/disease/alhasi panaszok">Alhasi panaszok</a></li>
            <li class="item"><a href="#/menu/disease/allergia">Allergia</a></li>
            <li class="item"><a href="#/menu/disease/álmosság">Álmosság</a></li>            
            <li class="item"><a href="#/menu/disease/alvászavar">Alvászavar</a></li>
            <li class="item"><a href="#/menu/disease/aranyér">Aranyér</a></li>
            <li class="item"><a href="#/menu/disease/asthma">Asthma</a></li>
            <li class="item"><a href="#/menu/disease/bárányhimlő">Bárányhimlő</a></li>
            <li class="item"><a href="#/menu/disease/bélgáz">Bélgáz</a></li>
            <li class="item"><a href="#/menu/disease/bronchitis">Bronchitis</a></li>
            <li class="item"><a href="#/menu/disease/csalánkiűtés">Csalánkiűtés</a></li>
            <li class="item"><a href="#/menu/disease/duzzanat">Duzzanat</a></li>
            <li class="item"><a href="#/menu/disease/égés">Égés</a></li>
            <li class="item"><a href="#/menu/disease/ekcéma">Ekcéma</a></li>
            <li class="item"><a href="#/menu/disease/epegörcs">Epegörcs</a></li>
            <li class="item"><a href="#/menu/disease/étvágytalanság">Étvágytalanság</a></li>
            <li class="item"><a href="#/menu/disease/fagyás">Fagyás</a></li>
            <li class="item"><a href="#/menu/disease/fájdalom">Fájdalom</a></li>
            <li class="item"><a href="#/menu/disease/fáradékonyság">Fáradékonyság</a></li>            
            <li class="item"><a href="#/menu/disease/felfekvés">Felfekvés</a></li>
            <li class="item"><a href="#/menu/disease/fertőtlenítés">Fertőtlenítés</a></li>
            <li class="item"><a href="#/menu/disease/ficam">Ficam</a></li>
            <li class="item"><a href="#/menu/disease/fogszuvasodás">Fogszuvasodás</a></li>
            <li class="item"><a href="#/menu/disease/fogzás">Fogzás</a></li>
            <li class="item"><a href="#/menu/disease/fogyókúra">Fogyókúra</a></li>
            <li class="item"><a href="#/menu/disease/frontérzékenység">Frontérzékenység</a></li>
            <li class="item"><a href="#/menu/disease/fülzúgás">Fülzúgás</a></li>
            <li class="item"><a href="#/menu/disease/gomba">Gomba</a></li>
            <li class="item"><a href="#/menu/disease/gyomorégés">Gyomorégés</a></li>
            <li class="item"><a href="#/menu/disease/gyomorfekély">Gyomorfekély</a></li>
            <li class="item"><a href="#/menu/disease/gyulladás">Gyulladás</a></li>
            <li class="item"><a href="#/menu/disease/hámsérülés">Hámsérülés</a></li>
            <li class="item"><a href="#/menu/disease/hányinger">Hányinger</a></li>
            <li class="item"><a href="#/menu/disease/hasigörcs">Hasigörcs</a></li>
            <li class="item"><a href="#/menu/disease/herpesz">Herpesz</a></li>
            <li class="item"><a href="#/menu/disease/horzsolás">Horzsolás</a></li>
            <li class="item"><a href="#/menu/disease/hőhullám">Hőhullám</a></li>
            <li class="item"><a href="#/menu/disease/húgyuti fertőzés">Húgyuti fertőzés</a></li>
            <li class="item"><a href="#/menu/disease/húzódás">Húzódás</a></li>            
            <li class="item"><a href="#/menu/disease/hüvelygomba">Hüvelygomba</a></li>
            <li class="item"><a href="#/menu/disease/hüvelyszárazság">Hüvelyszárazság</a></li>
            <li class="item"><a href="#/menu/disease/immunhiány">Immunhiány</a></li>
            <li class="item"><a href="#/menu/disease/infarktus">Infarktus</a></li>
            <li class="item"><a href="#/menu/disease/influenza">Influenza</a></li>
            <li class="item"><a href="#/menu/disease/ingerlékenység">Ingerlékenység</a></li>            
            <li class="item"><a href="#/menu/disease/izomfájdalom">Izomfájdalom</a></li>
            <li class="item"><a href="#/menu/disease/izomfeszesség">Izomfeszesség</a></li>
            <li class="item"><a href="#/menu/disease/izületi fájdalom">Izületi fájdalom</a></li>
            <li class="item"><a href="#/menu/disease/izzadás">Izzadás</a></li>
            <li class="item"><a href="#/menu/disease/kapilláris károsodás">Kapilláris károsodás</a></li>
            <li class="item"><a href="#/menu/disease/keringési zavar">Keringési zavar</a></li>
            <li class="item"><a href="#/menu/disease/kimerültség">Kimerültség</a></li>
            <li class="item"><a href="#/menu/disease/koleszterinszint">Koleszterinszint</a></li>
            <li class="item"><a href="#/menu/disease/köhögés">Köhögés</a></li>
            <li class="item"><a href="#/menu/disease/könnyezés">Könnyezés</a></li>
            <li class="item"><a href="#/menu/disease/körömgomba">Körömgomba</a></li>            
            <li class="item"><a href="#/menu/disease/kötőhártya-gyulladás">Kötőhártya-gyulladás</a></li>
            <li class="item"><a href="#/menu/disease/lábikragörcs">Lábikragörcs</a></li>
            <li class="item"><a href="#/menu/disease/lumbágó">Lumbágó</a></li>
            <li class="item"><a href="#/menu/disease/májcirrózis">Májcirrózis</a></li>
            <li class="item"><a href="#/menu/disease/májkárosodás">Májkárosodás</a></li>
            <li class="item"><a href="#/menu/disease/megfázás">Megfázás</a></li>
            <li class="item"><a href="#/menu/disease/memóriazavar">Memóriazavar</a></li>
            <li class="item"><a href="#/menu/disease/menopausa">Menopausa</a></li>      
            <li class="item"><a href="#/menu/disease/menstruáció">Menstruáció</a></li>
            <li class="item"><a href="#/menu/disease/napégés">Napégés</a></li>
            <li class="item"><a href="#/menu/disease/nyálkahártya-duzzanat">Nyálkahártya-duzzanat</a></li>
            <li class="item"><a href="#/menu/disease/nyombélfekély">Nyombélfekély</a></li>
            <li class="item"><a href="#/menu/disease/nyomelemhiány">Nyomelemhiány</a></li>
            <li class="item"><a href="#/menu/disease/nyugtalanság">Nyugtalanság</a></li>
            <li class="item"><a href="#/menu/disease/orrdugulás">Orrdugulás</a></li>
            <li class="item"><a href="#/menu/disease/orrfolyás">Orrfolyás</a></li>
            <li class="item"><a href="#/menu/disease/ödéma">Ödéma</a></li>
            <li class="item"><a href="#/menu/disease/ösztrogénhiány">Ösztrogénhiány</a></li>
            <li class="item"><a href="#/menu/disease/övsömör">Övsömör</a></li>
            <li class="item"><a href="#/menu/disease/pattanás">Pattanás</a></li>
            <li class="item"><a href="#/menu/disease/pikkelysömör">Pikkelysömör</a></li>
            <li class="item"><a href="#/menu/disease/porcképződés">Porcképződés</a></li>
            <li class="item"><a href="#/menu/disease/rándulás">Rándulás</a></li>
            <li class="item"><a href="#/menu/disease/reflux">Reflux</a></li>
            <li class="item"><a href="#/menu/disease/rheuma">Rheuma</a></li>
            <li class="item"><a href="#/menu/disease/ritmuszavar">Ritmuszavar</a></li>
            <li class="item"><a href="#/menu/disease/roborálás">Roborálás</a></li>
            <li class="item"><a href="#/menu/disease/rovarcsípés">Rovarcsípés</a></li>
            <li class="item"><a href="#/menu/disease/rüh">Rüh</a></li>
            <li class="item"><a href="#/menu/disease/sebkezelés">Sebkezelés</a></li>
            <li class="item"><a href="#/menu/disease/stressz">Stressz</a></li>
            <li class="item"><a href="#/menu/disease/száraz szem">Száraz szem</a></li>
            <li class="item"><a href="#/menu/disease/szédülés">Szédülés</a></li>
            <li class="item"><a href="#/menu/disease/szemölcs">Szemölcs</a></li>
            <li class="item"><a href="#/menu/disease/szemszárazság">Szemszárazság</a></li>
            <li class="item"><a href="#/menu/disease/szénanátha">Szénanátha</a></li>
            <li class="item"><a href="#/menu/disease/szívelégtelenség">Szívelégtelenség</a></li>
            <li class="item"><a href="#/menu/disease/terhesség">Terhesség</a></li>
            <li class="item"><a href="#/menu/disease/utazási betegség">Utazási betegség</a></li>
            <li class="item"><a href="#/menu/disease/vashiány">Vashiány</a></li>
            <li class="item"><a href="#/menu/disease/véraláfutás">Véraláfutás</a></li>
            <li class="item"><a href="#/menu/disease/vérrögképződés">Vérrögképződés</a></li>
            <li class="item"><a href="#/menu/disease/vesegörcs">Vesegörcs</a></li>
            <li class="item"><a href="#/menu/disease/vesekő">Vesekő</a></li>
            <li class="item"><a href="#/menu/disease/viszketés">Viszketés</a></li>
            <li class="item"><a href="#/menu/disease/visszafolyás">Visszafolyás</a></li>
            <li class="item"><a href="#/menu/disease/visszér">Visszér</a></li>
            <li class="item"><a href="#/menu/disease/vitamínhiány">Vitamínhiány</a></li>
            <li class="item"><a href="#/menu/disease/vizelési panaszok">Vizelési panaszok</a></li>
            <li class="item"><a href="#/menu/disease/zúzódás">Zúzódás</a></li>
            <li class="item"><a href="#/menu/disease/zsíros bőr">Zsíros bőr</a></li>
        </ul>

        <!--
        
                    <li class="item"><a href="#/menu/disease/agy">Agy</a></li></li>	
                    <li class="item"><a href="#/menu/disease/ajak">Ajak</a></li></li>	
                    <li class="item"><a href="#/menu/disease/arc">Arc</a></li></li>			
                    <li class="item"><a href="#/menu/disease/bél">Bél</a></li></li>
                    <li class="item"><a href="#/menu/disease/bőr">Bőr</a></li></li>
                    <li class="item"><a href="#/menu/disease/bőrhajlatok">Bőrhajlatok</a></li></li>
                    <li class="item"><a href="#/menu/disease/bőrkiütés">Bőrkiütés</a></li></li>		
                    <li class="item"><a href="#/menu/disease/csontok">Csontok</a></li></li>		
                    <li class="item"><a href="#/menu/disease/derék">Derék</a></li></li>
                    <li class="item"><a href="#/menu/disease/emésztőrendszer">Emésztőrendszer</a></li></li>	
                    <li class="item"><a href="#/menu/disease/epe">Epe</a></li></li>
                    <li class="item"><a href="#/menu/disease/epehólyag">Epehólyag</a></li></li>
                    <li class="item"><a href="#/menu/disease/fej">Fej</a></li></li>
                    <li class="item"><a href="#/menu/disease/fog">Fog</a></li></li>
                    <li class="item"><a href="#/menu/disease/fül">Fül</a></li></li>
                    <li class="item"><a href="#/menu/disease/garat">Garat</a></li></li>
                    <li class="item"><a href="#/menu/disease/gége">Gége</a></li></li>
                    <li class="item"><a href="#/menu/disease/gyermek">Gyermek</a></li></li>
                    <li class="item"><a href="#/menu/disease/gyomor">Gyomor</a></li></li>
                    <li class="item"><a href="#/menu/disease/has">Has</a></li></li>
                    <li class="item"><a href="#/menu/disease/húgyutak">Húgyutak</a></li></li>
                    <li class="item"><a href="#/menu/disease/hüvely">Hüvely</a></li></li>
                    <li class="item"><a href="#/menu/disease/izom">Izom</a></li></li>
                    <li class="item"><a href="#/menu/disease/ízületek">Ízületek</a></li></li>
                    <li class="item"><a href="#/menu/disease/kar">Kar</a></li></li>
                    <li class="item"><a href="#/menu/disease/könyök">Könyök</a></li></li>
                    <li class="item"><a href="#/menu/disease/láb">Láb</a></li></li>
                    <li class="item"><a href="#/menu/disease/lábujj">Lábujj</a></li></li>
                    <li class="item"><a href="#/menu/disease/mellkas">Mellkas</a></li></li>
                    <li class="item"><a href="#/menu/disease/nemi szervek">Nemi szervek</a></li></li>
                    <li class="item"><a href="#/menu/disease/nyak">Nyak</a></li></li>
                    <li class="item"><a href="#/menu/disease/orr">Orr</a></li></li>
                    <li class="item"><a href="#/menu/disease/orrnyálkahártya">Orrnyálkahártya</a></li></li>
                    <li class="item"><a href="#/menu/disease/száj">Száj</a></li></li>
                    <li class="item"><a href="#/menu/disease/térd">Térd</a></li></li>
                    <li class="item"><a href="#/menu/disease/testhajlat">Testhajlat</a></li></li>
                    <li class="item"><a href="#/menu/disease/torok">Torok</a></li></li>
                    <li class="item"><a href="#/menu/disease/törzs">Törzs</a></li></li>
                    <li class="item"><a href="#/menu/disease/tüdő">Tüdő</a></li></li>
                    <li class="item"><a href="#/menu/disease/végbél">Végbél</a></li></li>
                    <li class="item"><a href="#/menu/disease/vese">Vese</a></li></li>            
                </ul>       
        -->


    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a></li>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
