<ion-view class="bgSearch" title="navTitle" left-buttons="leftButtons">    
     <ion-content has-header="true">             

        <div ng-model="selectedTestAccount">       
            <div class="row stable-bg">                                            
                <ul class="list">
                    <div ng-if="placesList.length == 0">
                        Nincs találat
                    </div>
                    <li class="item" ng:repeat="item in placesList" >
                        <a ng-click="mapView({{item.id}}, {{item.latitude}}, {{item.longitude}})" href="">{{item.name}}
                        <br/>
                        {{item.zip_code}} {{item.city}}, {{item.street}} {{item.public_place_name}} {{item.number}}
                        </a>                
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>


</ion-view>
