<ion-view class="bgMain"  title="navTitle">
    <ion-content id="homeTxt" has-header="true" has-footer="true" padding="false">

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <div id="advertisement">
            <!--<button ng-click="toggle = !toggle">Toggle!</button>

            <div class="box on" ng-show="toggle" ng-animate="'box'">Reklám</div>-->
        </div>
        <div class="bar bar-footer main">
            <ul class="list">
                <li class="item">
                    <a href="#/menu/medicines">Gyógyszerkereső</a>
                </li>
                <li class="item">
                    <a href="#/menu/diseaselist">Tünetkereső</a>
                </li>
                <li class="item">
                    <a href="#/menu/places">Gyógyszertárkereső</a>
                </li>
                <li class="item">
                    <a href="#/menu/conditions">Használati feltételek</a>
                </li>
            </ul>            
        </div>
    </ion-footer-bar>
</ion-view>
