<ion-view class="bgBodySearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list opacity">                        
            <li class="item"><a href="#/menu/disease/gomba">Gomba</a></li>
            <li class="item"><a href="#/menu/disease/húgyuti fertőzés">Húgyuti fertőzés</a></li>
            <li class="item"><a href="#/menu/disease/hüvelygomba">Hüvelygomba</a></li>
            <li class="item"><a href="#/menu/disease/hüvelyszárazság">Hüvelyszárazság</a></li>
            <li class="item"><a href="#/menu/disease/menstruáció">Menstruáció</a></li>
            <li class="item"><a href="#/menu/disease/viszketés">Viszketés</a></li>
            <li class="item"><a href="#/menu/disease/vizelési panaszok">Vizelési panaszok</a></li>
        </ul>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
