<ion-view class="bgBodySearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list opacity">           
            <li class="item"><a href="#/menu/disease/afta">Afta</a></li>
            <li class="item"><a href="#/menu/disease/akne">Akne</a></li>
            <li class="item"><a href="#/menu/disease/allergia">Allergia</a></li>
            <li class="item"><a href="#/menu/disease/fogszuvasodás">Fogszuvasodás</a></li>
            <li class="item"><a href="#/menu/disease/fogzás">Fogzás</a></li>
            <li class="item"><a href="#/menu/disease/herpesz">Herpesz</a></li>
            <li class="item"><a href="#/menu/disease/influenza">Influenza</a></li>
            <li class="item"><a href="#/menu/disease/kapilláris károsodás">Kapilláris károsodás</a></li>
            <li class="item"><a href="#/menu/disease/könnyezés">Könnyezés</a></li>
            <li class="item"><a href="#/menu/disease/kötőhártya-gyulladás">Kötőhártya-gyulladás</a></li>
            <li class="item"><a href="#/menu/disease/nyálkahártya-duzzanat">Nyálkahártya-duzzanat</a></li>
            <li class="item"><a href="#/menu/disease/orrdugulás">Orrdugulás</a></li>
            <li class="item"><a href="#/menu/disease/orrfolyás">Orrfolyás</a></li>
            <li class="item"><a href="#/menu/disease/pattanás">Pattanás</a></li>
            <li class="item"><a href="#/menu/disease/pörkösödés">Pörkösödés</a></li>
            <li class="item"><a href="#/menu/disease/száraz szem">Száraz szem</a></li>
            <li class="item"><a href="#/menu/disease/szemszárazság">Szemszárazság</a></li>
            <li class="item"><a href="#/menu/disease/szénanátha">Szénanátha</a></li>
            <li class="item"><a href="#/menu/disease/zsíros bőr">Zsíros bőr</a></li>
        </ul>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
