<ion-view class="bgBodySearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list opacity">             
            <li class="item"><a href="#/menu/disease/allergia">Allergia</a></li>
            <li class="item"><a href="#/menu/disease/bárányhimlő">Bárányhimlő</a></li>
            <li class="item"><a href="#/menu/disease/csalánkiűtés">Csalánkiűtés</a></li>
            <li class="item"><a href="#/menu/disease/égés">Égés</a></li>
            <li class="item"><a href="#/menu/disease/ekcéma">Ekcéma</a></li>
            <li class="item"><a href="#/menu/disease/fagyás">Fagyás</a></li>
            <li class="item"><a href="#/menu/disease/fertőtlenítés">Fertőtlenítés</a></li>
            <li class="item"><a href="#/menu/disease/gomba">Gomba</a></li>
            <li class="item"><a href="#/menu/disease/hámsérülés">Hámsérülés</a></li>
            <li class="item"><a href="#/menu/disease/horzsolás">Horzsolás</a></li>
            <li class="item"><a href="#/menu/disease/izzadás">Izzadás</a></li>
            <li class="item"><a href="#/menu/disease/napégés">Napégés</a></li>
            <li class="item"><a href="#/menu/disease/övsömör">Övsömör</a></li>
            <li class="item"><a href="#/menu/disease/pikkelysömör">Pikkelysömör</a></li>
            <li class="item"><a href="#/menu/disease/rovarcsípés">Rovarcsípés</a></li>
            <li class="item"><a href="#/menu/disease/rüh">Rüh</a></li>
            <li class="item"><a href="#/menu/disease/sebkezelés">Sebkezelés</a></li>
            <li class="item"><a href="#/menu/disease/száraz bőr">Száraz bőr</a></li>
            <li class="item"><a href="#/menu/disease/szemölcs">Szemölcs</a></li>
            <li class="item"><a href="#/menu/disease/véraláfutás">Véraláfutás</a></li>
            
            



        </ul>




    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
