<ion-view class="bgBodySearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list opacity">                      
            <li class="item"><a href="#/menu/disease/bronchitis">Bronchitis</a></li>
            <li class="item"><a href="#/menu/disease/infarktus">Infarktus</a></li>
            <li class="item"><a href="#/menu/disease/influenza">Influenza</a></li>
            <li class="item"><a href="#/menu/disease/megfázás">Megfázás</a></li>
            <li class="item"><a href="#/menu/disease/ritmuszavar">Ritmuszavar</a></li>
            <li class="item"><a href="#/menu/disease/szívelégtelenség">Szívelégtelenség</a></li>
            <li class="item"><a href="#/menu/disease/vérrögképződés">Vérrögképződés</a></li>            
        </ul>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
