<ion-view class="bgBodySearch" title="navTitle" left-buttons="leftButtons">    
    <ion-content has-header="true" has-footer="true" scroll="false" ng-iscroll>             

        <ul class="list opacity">                         
            <li class="item"><a href="#/menu/disease/felfekvés">Felfekvés</a></li>
            <li class="item"><a href="#/menu/disease/körömgomba">Körömgomba</a></li>
            <li class="item"><a href="#/menu/disease/rándulás">Rándulás</a></li>
            <li class="item"><a href="#/menu/disease/ficam">Ficam</a></li>
            <li class="item"><a href="#/menu/disease/húzódás">Húzódás</a></li>
            <li class="item"><a href="#/menu/disease/zúzódás">Zúzódás</a></li>
            <li class="item"><a href="#/menu/disease/lábikragörcs">Lábikragörcs</a></li>
            <li class="item"><a href="#/menu/disease/porcképződés">Porcképződés</a></li>
            <li class="item"><a href="#/menu/disease/szemölcs">Szemölcs</a></li>
            <li class="item"><a href="#/menu/disease/ödéma">Ödéma</a></li>
            <li class="item"><a href="#/menu/disease/visszér">Visszér</a></li>
            <li class="item"><a href="#/menu/disease/véraláfutás">Véraláfutás</a></li>
            <li class="item"><a href="#/menu/disease/duzzanat">Duzzanat</a></li>
        </ul>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a id="body-button" href="#/menu/body" class="button button-clear">
                Test
            </a>

        </div>

        <div class="buttons">
            <button id="disease-button" class="button button-clear">
                Tünetlista
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
